src/main/resources/xsd/qbtdcorder-xsd-v1.xsd

<xs:schema targetNamespace="http://wag.btireland.ie/WAG_WS/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:wag="http://wag.btireland.ie/WAG_WS/"
           xmlns:schema="http://wag.btireland.ie/WAG_WS/"
           elementFormDefault="qualified">
    <!-- schema containing object common to all talos WS like error definition-->
    <xs:include schemaLocation="common-types-xsd-v1.xsd"/>
    <xs:include schemaLocation="data-circuit-common-types-xsd-v1.xsd"/>
    <xs:include schemaLocation="QBTDCResponseSchema-xsd-v1.xsd"/>
    <xs:complexType name="QBTDCOrder">
        <xs:sequence>
            <xs:element name="VERSION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ORDER" type="schema:OrderQbtdc" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderQbtdc">
        <xs:sequence>
            <xs:element ref="wag:HEADER" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ORDER_DATA" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element ref="wag:OPERATOR_DETAILS" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="ORDER_DETAILS" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SYNC_REQUIRED" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Y"/>
                                                <xs:enumeration value="N"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element ref="wag:ORDER_NUMBER" minOccurs="1" maxOccurs="1" />
                                    <xs:element name="TYPE" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="QBTDC">
                                                    <xs:annotation>
                                                        <xs:documentation>Quote for BT Data Circuit</xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element ref="wag:APPLICATION_DATE" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="PROJECT_KEY" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="32"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element ref="wag:OBO" minOccurs="0" maxOccurs="1" />
                                    <xs:element name="RECURRING_FREQUENCY" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="ANNUAL"/>
                                                <xs:enumeration value="MONTHLY"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="EMAIL_RECIPIENTS" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="EMAIL" minOccurs="1" maxOccurs="5">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
                                                            <xs:maxLength value="40"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="QUOTE_ITEM_REQUEST" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GROUP" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="G1"/>
                                                <xs:enumeration value="G2"/>
                                                <xs:enumeration value="G3"/>
                                                <xs:enumeration value="G4"/>
                                                <xs:enumeration value="G5"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="PRODUCT" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="WEC"/>
                                                <xs:enumeration value="WIC"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="CONNECTION_TYPE" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="ETHERWAY_STANDARD"/>
                                                <xs:enumeration value="ETHERWAY_DIVERSE"/>
                                                <xs:enumeration value="ETHERWAY_DIVERSE_PLUS"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="TERM" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="1"/>
                                                <xs:enumeration value="2"/>
                                                <xs:enumeration value="3"/>
                                                <xs:enumeration value="4"/>
                                                <xs:enumeration value="5"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="IP" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="IP_RANGE" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="31"/>
                                                            <xs:enumeration value="29"/>
                                                            <xs:enumeration value="28"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="LOGICAL" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="ACTION_FLAG" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="P">
                                                                <xs:annotation>
                                                                    <xs:documentation>Provide</xs:documentation>
                                                                </xs:annotation>
                                                            </xs:enumeration>
                                                            <xs:minLength value="1"/>
                                                            <xs:maxLength value="2"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="BANDWIDTH" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="0.5"/>
                                                            <xs:enumeration value="1"/>
                                                            <xs:enumeration value="2"/>
                                                            <xs:enumeration value="4"/>
                                                            <xs:enumeration value="6"/>
                                                            <xs:enumeration value="8"/>
                                                            <xs:enumeration value="10"/>
                                                            <xs:enumeration value="12"/>
                                                            <xs:enumeration value="14"/>
                                                            <xs:enumeration value="16"/>
                                                            <xs:enumeration value="18"/>
                                                            <xs:enumeration value="20"/>
                                                            <xs:enumeration value="30"/>
                                                            <xs:enumeration value="40"/>
                                                            <xs:enumeration value="50"/>
                                                            <xs:enumeration value="60"/>
                                                            <xs:enumeration value="70"/>
                                                            <xs:enumeration value="80"/>
                                                            <xs:enumeration value="90"/>
                                                            <xs:enumeration value="100"/>
                                                            <xs:enumeration value="150"/>
                                                            <xs:enumeration value="200"/>
                                                            <xs:enumeration value="300"/>
                                                            <xs:enumeration value="400"/>
                                                            <xs:enumeration value="500"/>
                                                            <xs:enumeration value="600"/>
                                                            <xs:enumeration value="700"/>
                                                            <xs:enumeration value="800"/>
                                                            <xs:enumeration value="900"/>
                                                            <xs:enumeration value="1000"/>
                                                            <xs:enumeration value="1500"/>
                                                            <xs:enumeration value="2000"/>
                                                            <xs:enumeration value="2500"/>
                                                            <xs:enumeration value="3000"/>
                                                            <xs:enumeration value="4000"/>
                                                            <xs:enumeration value="5000"/>
                                                            <xs:enumeration value="6000"/>
                                                            <xs:enumeration value="7000"/>
                                                            <xs:enumeration value="8000"/>
                                                            <xs:enumeration value="9000"/>
                                                            <xs:enumeration value="10000"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="PROFILE" minOccurs="1" maxOccurs="1">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="PRIMARY"/>
                                                            <xs:enumeration value="PREMIUM_5"/>
                                                            <xs:enumeration value="PREMIUM_10"/>
                                                            <xs:enumeration value="PREMIUM_50"/>
                                                            <xs:enumeration value="PREMIUM_100"/>
                                                            <xs:enumeration value="PREMIUM_EXPRESS"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="A_END" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="LOCATION" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="EIRCODE" minOccurs="1" maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:minLength value="1"/>
                                                                        <xs:maxLength value="8"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="ACCESS" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="ACTION_FLAG" minOccurs="1" maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="P">
                                                                            <xs:annotation>
                                                                                <xs:documentation>Provide
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:enumeration>
                                                                        <xs:enumeration value="CH">
                                                                            <xs:annotation>
                                                                                <xs:documentation>Change
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:enumeration>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="ACCESS_SUPPLIER" minOccurs="0"
                                                                        maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value=""/>
                                                                        <xs:enumeration value="ON-NET"/>
                                                                        <xs:enumeration value="OFF-NET"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="BANDWIDTH" minOccurs="0" maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value=""/>
                                                                        <xs:enumeration value="1"/>
                                                                        <xs:enumeration value="10"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="SLA" minOccurs="0" maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value=""/>
                                                                        <xs:enumeration value="STANDARD"/>
                                                                        <xs:enumeration value="ENHANCED"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="B_END" minOccurs="1" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="LOCATION" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="HANDOVER_NODE" minOccurs="1"
                                                                        maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:minLength value="1"/>
                                                                        <xs:maxLength value="20"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="ACCESS" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="ACTION_FLAG" minOccurs="1" maxOccurs="1">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="CH">
                                                                            <xs:annotation>
                                                                                <xs:documentation>Change
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:enumeration>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QBTDCOrderResponse">
        <xs:sequence>
            <xs:element name="VERSION" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ORDER_ID" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="NOTIFICATION" type="schema:qbtdcNotification"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="QBTDC" type="schema:QBTDCOrder"/>
    <xs:element name="QBTDCRESPONSE" type="schema:QBTDCOrderResponse"/>
</xs:schema>
