src/main/resources/xsd/QBTDCResponseSchema-xsd-v1.xsd

<xs:schema targetNamespace="http://wag.btireland.ie/WAG_WS/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:schema="http://wag.btireland.ie/WAG_WS/"
		   elementFormDefault="qualified">
	<xs:complexType name="qbtdcNotificationHeader">
		<xs:sequence>
			<xs:element name="DATA_CONTRACT_NAME" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="WAG">
							<xs:annotation>
								<xs:documentation>WHOLESALE_ACCESS_GATEWAY</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ORIGINATOR_CODE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
						<xs:enumeration value="WAG"/>
						<xs:enumeration value="EXT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TRANSACTION_ID" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DATE_TIME_STAMP" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qbtdcNotificationData">
		<xs:sequence>
			<xs:element name="NAME" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CODE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ORDER_NUMBER" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PROJECT_KEY" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RECURRING_FREQUENCY" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ANNUAL"/>
						<xs:enumeration value="MONTHLY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="APPLICATION_DATE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RECEIVED_DATE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MESSAGE_TYPE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
						<xs:enumeration value="C">
							<xs:annotation>
								<xs:documentation>Completion</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="WSA">
							<xs:annotation>
								<xs:documentation>Web Service Accept</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="R">
							<xs:annotation>
								<xs:documentation>Reject</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MESSAGE_DATE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="REJECT_REASON" type="schema:rejection" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="QUOTE_ITEM" type="schema:quoteItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qbtdcNotification">
		<xs:sequence>
			<xs:element name="HEADER" type="schema:qbtdcNotificationHeader" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NOTIFICATION_DATA" type="schema:qbtdcNotificationData" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="quoteItem">
		<xs:sequence>
			<xs:element name="QUOTE_ITEM_ID" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="STATUS" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Rejected"/>
						<xs:enumeration value="Quoted"/>
						<xs:enumeration value="Error"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="REJECT_REASON" type="schema:rejection" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NOTES" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="COMMENT" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="500"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="NON_RECURRING_PRICE" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RECURRING_PRICE" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GROUP" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="G1"/>
						<xs:enumeration value="G2"/>
						<xs:enumeration value="G3"/>
						<xs:enumeration value="G4"/>
						<xs:enumeration value="G5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PRODUCT" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="WEC"/>
						<xs:enumeration value="WIC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CONNECTION_TYPE" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ETHERWAY_STANDARD"/>
						<xs:enumeration value="ETHERWAY_DIVERSE"/>
						<xs:enumeration value="ETHERWAY_DIVERSE_PLUS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TERM" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IP" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IP_RANGE" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LOGICAL" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ACTION_FLAG" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="P">
										<xs:annotation>
											<xs:documentation>Provide</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:minLength value="1"/>
									<xs:maxLength value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="BANDWIDTH" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PROFILE" minOccurs="1" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="PRIMARY"/>
									<xs:enumeration value="PREMIUM_5"/>
									<xs:enumeration value="PREMIUM_10"/>
									<xs:enumeration value="PREMIUM_50"/>
									<xs:enumeration value="PREMIUM_100"/>
									<xs:enumeration value="PREMIUM_EXPRESS"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="A_END" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LOCATION" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NETWORK_STATUS" minOccurs="0" maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""/>
												<xs:enumeration value="ON-NET"/>
												<xs:enumeration value="OFF-NET"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="EIRCODE" minOccurs="1" maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="8"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ADDRESS" minOccurs="0" maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MULTI_EIRCODE" minOccurs="0" maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""/>
												<xs:enumeration value="Y"/>
												<xs:enumeration value="N"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ACCESS" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ACTION_FLAG" minOccurs="1" maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="P">
													<xs:annotation>
														<xs:documentation>Provide
														</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
												<xs:enumeration value="CH">
													<xs:annotation>
														<xs:documentation>Change
														</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="REQ_ACCESS_SUPPLIER" minOccurs="0"
												maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""/>
												<xs:enumeration value="ON-NET"/>
												<xs:enumeration value="OFF-NET"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="TARGET_ACCESS_SUPPLIER" minOccurs="0"
												maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""/>
												<xs:enumeration value="ON-NET"/>
												<xs:enumeration value="OFF-NET"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BANDWIDTH" minOccurs="0" maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="SLA" minOccurs="0" maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value=""/>
												<xs:enumeration value="STANDARD"/>
												<xs:enumeration value="ENHANCED"/>
												<xs:enumeration value="PREMIUM"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="B_END" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LOCATION" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="HANDOVER_NODE" minOccurs="1"
												maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ACCESS" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ACTION_FLAG" minOccurs="1" maxOccurs="1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="CH">
													<xs:annotation>
														<xs:documentation>Change
														</xs:documentation>
													</xs:annotation>
												</xs:enumeration>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rejection">
		<xs:sequence>
			<xs:element name="CODE" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="REJECT_COMMENT" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>