src/main/resources/xsd/siebelNotification-xsd-v1.xsd

<xs:schema targetNamespace="http://retail.btireland.com/siebel/schemas/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:schema="http://retail.btireland.com/siebel/schemas/v1"
           elementFormDefault="qualified">
    <xs:complexType name="serviceDetails">
        <xs:sequence>
            <xs:element name="SERVICE_NAME" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SERVICE_VALUE" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ACTION_FLAG" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ethernetServiceEndpoint">
        <xs:sequence>
            <xs:element name="CIRCUIT_DETAILS" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CIRCUIT_REFERENCE" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="SERVICE_CLASS" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ACTION_FLAG" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="3" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SITE" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LOCATION" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="LINE_1" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="50" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LINE_2" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="50" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LINE_3" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="50" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="CITY" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="20" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="COUNTY" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="20" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="EIRCODE" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="8" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="SITE_CONTACT" minOccurs="0" maxOccurs="2">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="FIRST_NAME" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="20" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="LAST_NAME" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="20" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="CONTACT_NUMBER" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="20" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="EMAIL" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="40" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="PORT_SETTINGS" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ADVA_TYPE" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="20" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ADVA_PORT_NUMBER" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="10" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="PRESENTATION" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="7" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="PORT_CONFIGURATION" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="15" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="PORT_SPEED" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="10" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sbcSignallingMediaType">
        <xs:sequence>
            <xs:element name="LOCATION" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="IP" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PORT_NUMBERS" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PORT_PROTOCOL" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>

    </xs:complexType>



    <xs:complexType name="header">
        <xs:sequence>
            <xs:element name="DATA_CONTRACT" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ORIGINATOR_CODE" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="5" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TRANSACTION_ID" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DATE_TIME_STAMP" type="xs:dateTime" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="notificationData">
        <xs:sequence>
            <xs:element name="NAME" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CODE" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="5" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ORDER_NUMBER" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="APPLICATION_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="RECEIVED_DATE" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="MESSAGE_TYPE" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="5" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MESSAGE_DATE" type="xs:dateTime" minOccurs="1"/>
            <xs:element name="DUE_COMPLETION_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="ESTIMATED_COMPLETION_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="ACCOUNT_NUMBER" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="APPOINTMENT_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="ORDER_STATUS" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="REJECT_REASON" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="200" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="NON_STANDARD_REASON" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="500" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ORDER_ID" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ORDER_MANAGER" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FIRST_NAME" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="LAST_NAME" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="EMAIL" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="40" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TEXT" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1500" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DELIVERY_ON_TRACK" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SITE" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CIRCUIT_DETAILS" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CIRCUIT_ID" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="CIRCUIT_REFERENCE" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ACTION_FLAG" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="1" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="SERVICE_CLASS" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="SERVICE_CODE" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ADDITIONAL_SERVICES" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SERVICE_DETAILS" type="schema:serviceDetails" minOccurs="1" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="SITE" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="8" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ID" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="TYPE" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="15" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="PRODUCT_TYPE" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="8" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="EXISTING_ACCESS_BANDWIDTH" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="5" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CONFIRMATION_RESULT" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="REFORECAST_DUE_DATE" type="xs:date" minOccurs="0"/>
            <xs:element name="CIRCUIT" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LOGICAL_DETAILS" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CIRCUIT_REFERENCE" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="20" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ACTION_FLAG" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="3" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="SERVICE_CLASS" minOccurs="1" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="20" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="ADDITIONAL_SERVICES" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SERVICE_DETAILS" type="schema:serviceDetails" minOccurs="1" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="BANDWIDTH" minOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="5" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="VLAN" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1" />
                                                <xs:maxLength value="20" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="SBC_ADDRESSING" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SBC_SIGNALLING" minOccurs="2" maxOccurs="2" type="schema:sbcSignallingMediaType"/>
                                                <xs:element name="SBC_MEDIA" minOccurs="2" maxOccurs="2" type="schema:sbcSignallingMediaType"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="A_END" minOccurs="0" maxOccurs="1"  type="schema:ethernetServiceEndpoint"/>
            <xs:element name="B_END" minOccurs="0" maxOccurs="1"  type="schema:ethernetServiceEndpoint"/>
            <xs:element name="CUSTOMER_DELAY" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="START_DATE" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="END_DATE" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="REASON" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="50" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GLAN_ID_DETAILS" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GLAN_ID" minOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="20" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="SITE" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="8" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="TYPE" minOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="15" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="PRODUCT_TYPE" minOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1" />
                                    <xs:maxLength value="8" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="notification">
        <xs:all>
            <xs:element name="HEADER" type="schema:header"/>
            <xs:element name="NOTIFICATION_DATA" type="schema:notificationData"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="NOTIFICATION" type="schema:notification"/>

    <xs:complexType name="notificationResponse">
        <xs:all>
            <xs:element name="CODE" type="xs:string"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="NOTIFICATION_RESPONSE" type="schema:notificationResponse"/>

    <xs:complexType name="errorDetail">
        <xs:sequence>
            <xs:element name="CODE" type="xs:string"/>
            <xs:element name="MESSAGE" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ERROR_DETAIL" type="schema:errorDetail"/>

</xs:schema>